<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FINAL_OOP.Properties.Settings.IOOP_Assignment_GROUP24ConnectionString"
            connectionString="Data Source=LAPTOP-P2A38ND8;Initial Catalog=IOOP_Assignment_GROUP24;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="FINAL_OOP.Properties.Settings.PrintingSystemConnectionString"
            connectionString="Data Source=LAPTOP-P2A38ND8;Initial Catalog=PrintingSystem;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>